<!-- Main container -->
<div class="container">
    <!-- Header -->
    <header class="header">
      <div class="header-content">
        <h1>STAR WARS</h1>
        <span class="project-title">THE SWAPI PROJECT</span>
      </div>
    </header>
  
    <!-- Main Content -->
    <div class="main-content">
      <!-- Left Side Panel -->
      <div class="left-panel">
        <div class="profile-card">
          <img
            src="https://via.placeholder.com/150"
            alt="Character Image"
            class="profile-image"
          />
          <div class="profile-details">
            <p><strong>Name:</strong>{{singleWarriorData?.name}}</p>
            <p><strong>Born:</strong> {{singleWarriorData?.birth_year}}</p>
            <p><strong>Gender:</strong> {{singleWarriorData?.gender}}</p>
            <p><strong>Height:</strong> {{singleWarriorData?.height}}</p>
            <p><strong>Weight:</strong> {{singleWarriorData?.mass}}</p>
            <p><strong>Created at:</strong> {{singleWarriorData?.created}}</p>
            <p><strong>Edited at:</strong> {{singleWarriorData?.edited}}</p>
            <p><strong>Hair color:</strong>{{singleWarriorData?.hair_color}}</p>
            <p><strong>Eye color:</strong> {{singleWarriorData?.eye_color}}</p>
            <p><strong>Skin color:</strong> {{singleWarriorData?.skin_color}}</p>
            <p><strong>Planet Name:</strong> {{singleWarriorData?.homeworldData?.name}}</p>
            <p><strong>Species:</strong>: {{singleWarriorData?.speciesData[0]?.name}}</p>
          </div>
        </div>
      </div>
  
      <!-- Right Content Area -->
      <div class="right-content">
        <!-- Films Section -->
        <section class="section">
          <h2>FILMS</h2>
          <div *ngFor="let filmname of FilmDetails">
            <div class="card">{{filmname.title}}</div>
          </div>
        </section>
  
        <!-- Vehicles Section -->
        <section class="section">
          <h2>VEHICLES</h2>
          <div *ngFor="let vehmname of vehicleList">
            <div class="card">{{vehmname.name}}</div>
          </div>
        </section>
  
        <!-- Starships Section -->
        <section class="section">
          <h2>STARSHIPS</h2>
          <div *ngFor="let starshipname of startShipList">
            <div class="card">{{starshipname.name}}</div>
          </div>
        </section>
      </div>
    </div>
  </div>